<html>
    <head>
        <title>To-Do lists</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    function insertRow(text) {
        var table = document.getElementById("id_list_table");
        var row = table.insertRow(-1);
        var cell = row.insertCell(0);
        cell.innerHTML = text;
    }
    $(document).ready(function() {
        $.getJSON('/list/', function(data) {
            $.each( data, function(key, val ) {
                item = val["fields"]["text"];
                insertRow((key+1) + ": " + item);
                console.log((key+1) + ": " + item);
            });
        });
    });
</script>

    </head>
    <body>
        <h1>Your To-Do list</h1>

        <form method='POST'>
            <input name="item_text" id='id_new_item' placeholder='Enter a to-do item' />
            {% csrf_token %}
        </form>

        <table id="id_list_table">
        </table>
    </body>
</html>
